.nav{
    display: block;
}
.navegacao{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 4.3em;
 
}
.navegacao__logo-pesquisa{
    margin-left: 3em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navegacao__pesquisa{
    padding: 1em;
    width: 350px;  
    border-radius: 1em;
    margin-left: 10em;
    border: none;
    background-color: var(--cinza);
}

.navegacao__login{
    box-sizing: border-box;
    margin-right: 4em ;
    text-decoration: none;
    border: 1px solid var(--links);
    padding: 15px;
    text-align: center;
    width: 182px;
    height: 51px;
    color: var(--links);
   
}





