.navegacao{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 1em 6%;
    margin-right: 10em;
    align-items: center;
    flex-wrap: wrap;
    
}

.navegacao__logo-pesquisa{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navegacao__pesquisa{
    display: flex;
    align-items: center;
    margin-left: 8em;
    background-color: var(--cinza);
    border-radius: 20px;
    width: 350px;
}
.navegacao__pesquisa-texto{
    
    align-items: center;
    float: left;
    background-color: transparent;
    padding: 1em 2em;
    border: none;
    width: 260px;

}

.navegacao__login{
    color: var(--links);
    list-style-type: none;
    text-decoration: none;
    padding: 1em 3em;
    border: 1px solid var(--links);
}
