:root{
    --background:#FFFFFF;
    --links:#2A7AE4;
    --textos:#464646;
    --cinza:#F5F5F5;
    --texto:"raleway";
}
body{
    font-family: var(--texto);
    font-weight: 700;
}
.banner-imagem{
    width: 100%;
}